In [11]:
                                                              # Import Libraies 
import requests
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import folium
from datetime import date

In [12]:
def get_covid_data(API_url, endpoint):                         # Function to get json data from Public API
    url = API_url + endpoint
    try:
        response = requests.get(url)
        data = response.json()
        return data
    except requests.exceptions.RequestException as e:
        print(f"Error fetching data from {url}: {e}")
        return None

In [16]:
def create_data_from_covid_data(data):                         # Function to get single column data dictionary
    if data is not None:
        df = pd.DataFrame(data)                                
        return df
    else:
        return None

In [25]:
def create_dataframe(df):                                   # converts to multi column dataframe
        dataframe = df['data'].apply(pd.Series) 
        return dataframe

In [26]:
def API():
    API_url = 'https://covid-api.com/api/'                       #no key access - anyone can use

    data1 = get_covid_data(API_url, 'regions')                  #calling get covid data function
    data2 = get_covid_data(API_url, 'reports')

    df1 = create_data_from_covid_data(data1)                    #calling create data from covid data function
    df2 = create_data_from_covid_data(data2)
    
    dataframe1 = create_dataframe(df1)                            #calling create dataframe function        
    dataframe2 = create_dataframe(df2)    
   
    return dataframe1, dataframe2

dataframe, dataframe2 = API()

NameError: name 'df1' is not defined

In [10]:
dataframe1, dataframe2 = API()

NameError: name 'df2' is not defined

In [3]:
def get_covid_data(API_url, endpoint):                         # Function to get json data from Public API
    url = API_url + endpoint
    try:
        response = requests.get(url)
        data = response.json()
        return data
    except requests.exceptions.RequestException as e:
        print(f"Error fetching data from {url}: {e}")
        return None

def create_data_from_covid_data(data):                         # Function to get single column data dictionary
    if data is not None:
        df = pd.DataFrame(data)                                
        return df
    else:
        return None
    
def create_dataframe(number):                                   # converts to multi column dataframe
    if number ==1:
        dataframe1 = df1['data'].apply(pd.Series) 
        return dataframe1
    else:
        dataframe2 = df2['data'].apply(pd.Series) 
        return dataframe2
    
def API():
    API_url = 'https://covid-api.com/api/'                       #no key access - anyone can use
    endpoint1 = 'regions'
    endpoint2 = 'reports'

    data1 = get_covid_data(API_url, 'regions')                  #calling get covid data function
    data2 = get_covid_data(API_url, 'reports')

    df1 = create_data_from_covid_data(data1)                    #calling create data from covid data function
    df2 = create_data_from_covid_data(data2)
    
    dataframe1 = create_dataframe(1)                            #calling create dataframe function        
    dataframe2 = create_dataframe(2)    
   
    return dataframe1, dataframe2


dataframe1, dataframe2 = API()

NameError: name 'df1' is not defined

In [ ]:
dataframe1.head(5)                                             # first dataframe

In [ ]:
dataframe1.describe()

In [ ]:
dataframe2.head(5)                                             # second dataframe

In [4]:
dataframe2.describe()

NameError: name 'dataframe2' is not defined

In [5]:
data=dataframe2['region']                                      
data

NameError: name 'dataframe2' is not defined

In [49]:
dataframe3=data.apply(pd.Series) 
dataframe3

     iso                name province                 lat       long cities
0    AFG         Afghanistan                      33.9391    67.7100     []
1    ALB             Albania                      41.1533    20.1683     []
2    DZA             Algeria                      28.0339     1.6596     []
3    AND             Andorra                      42.5063     1.5218     []
4    AGO              Angola                     -11.2027    17.8739     []
..   ...                 ...      ...                 ...        ...    ...
786  VNM             Vietnam                      14.0583   108.2772     []
787  PSE  West Bank and Gaza                      31.9522    35.2332     []
788  YEM               Yemen           15.552726999999999  48.516388     []
789  ZMB              Zambia                     -13.1339    27.8493     []
790  ZWE            Zimbabwe                     -19.0154    29.1549     []

[791 rows x 6 columns]

In [59]:
dataframe3.describe()

        iso    name province  lat long cities
count   791     791      791  775  775    791
unique  196     196      599  769  759     52
top     RUS  Russia           0.0  0.0     []
freq     83      83      174    4    4    740

In [ ]:
sns.pairplot(iris_data, hue='species', markers=["o", "s", "D"])
plt.suptitle('Pair Plot of Iris Dataset with Colors Based on Species')
plt.show()